LOG_LEVEL=INFO

JWT_SECRET="secret"
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRY_IN_SECONDS=3600
REFRESH_TOKEN_EXPIRY_IN_SECONDS=1728000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stt_app
MLFLOW_DB_NAME=mlflow_db

DATABASE_URL="postgresql+asyncpg://postgres:postgres@postgres:5431/stt_app"
SYNC_DATABASE_URL="postgresql://postgres:postgres@postgres:5431/stt_app"

CELERY_BROKER_URL="redis://redis:6379/0"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL="redis://redis:6379/0"

RUSTFS_ACCESS_KEY=rustfs
RUSTFS_SECRET_KEY=rustfs


STORAGE_ENDPOINT_URL="http://object_storage:9000"
STORAGE_EXTERNAL_URL="http://localhost:9100"
STORAGE_BUCKET_AUDIO="audio-files"
STORAGE_BUCKET_TEST="test-dataset"
STORAGE_ACCESS_KEY="rustfs"
STORAGE_SECRET_KEY="rustfs"

MLFLOW_TRACKING_URI="http://mlflow:5000"
MLFLOW_S3_ENDPOINT_URL="http://object_storage:9000"
MLFLOW_S3_ARTIFACT_ROOT="s3://mlflow-artifacts/"

HF_TOKEN="YOUR_HUGGINGFACE_READ_TOKEN"
ASR_MODEL_NAME="whisper-large-v2-lora"
ASR_BASE_MODEL_ID="openai/whisper-large-v2"
MT_MODEL_NAME="Meta-Llama-3.1-8B-Instruct"
MT_BASE_MODEL_ID="meta-llama/Llama-3.1-8B-Instruct"
ASR_MODEL_VERSION="1"

# Continual Learning Pipeline
DATA_THRESHOLD=50 
PERFORMANCE_THRESHOLD=0.02 